#bot {
	min-height: 2rem;
}

#video {
	flex: 7 0 0;
}

#iframe-cover {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#cc {
	flex: 3 0 0;
}

#cc .wrap {
  top: 0;
	bottom: 3rem;
	left: 0;
	right: 0;
	overflow-y: auto;
}

#toolbar {
	bottom: 0;
	left: 0;
	right: 0;
	height: 3rem;
}

.text {
	height: calc(100% - 1rem);
	border: none;
	resize: none;
}

#subs {
	bottom: 1rem;
}

#timeline-map {
	height: .5rem;
}

#timeline-map-scroll {
	top: 0;
	bottom: 0;
	background-color: #FFFFFF88;
}

#timeline {
	height: 2.5rem;
	overflow: hidden;
	background-color: #333333;
}

#timeline-box {
	top: 0;
	bottom: 0;
}

#ruler {
	font-size: 9px;
}

.main-ruler>span {
	top: calc(15% + 4px);
	left: 3px;
	line-height: 1em;
}

#cursor {
	top: 0;
	bottom: 0;
	width: .5px;
}

.main-ruler {
	top: 0;
	bottom: 50%;
	width: .5px;
}

.sub-ruler {
	top: 0;
	bottom: 85%;
	width: .5px;
}

.sub2-ruler {
	top: 0;
	bottom: 75%;
	width: .5px;
}

.timeline-sub {
	top: 0;
	bottom: 0;
	border: white solid .5px;
	background-color: #FFFFFF88;
}

.move-target {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
}

.drag {
	top: 0;
	bottom: 0;
	/* background-color: blue; */
	cursor: ew-resize;
	z-index: 10;
}

.drag-start {
	width: 3px;
	left: 0;
}

.drag-end {
	width: 3px;
	right: 0;
}

#help {
	left: 20%;
	right: 20%;
	top: 10%;
	background-color: #000000CC;
	z-index: 20;
}