<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>YTCC</title>
	<link href="index.css" rel="stylesheet">
	<!--OG-->
	<meta property="og:image" content="">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Holofans">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="Holofans">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-TCZ8SVTSK2"></script>
	<script>
		window.dataLayer = window.dataLayer || []
		function gtag(){ dataLayer.push(arguments) }
		gtag('js', new Date())
		gtag('config', 'G-TCZ8SVTSK2')
	</script>
	<!--BOOTSTRAP-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<!--VUE-->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<!--YOUTUBE-->
	<script src="https://www.youtube.com/iframe_api"></script>
</head>
<body class="bg-dark text-white">
	<div
		id="main"
		class="w-100 vh-100 d-flex flex-column position-relative"
	>
		<div id="top" class="p-2 d-flex flex-row align-items-center">
			<form action="" class="pe-3">
				<label for="video-id" class="pe-3">Video ID</label>
				<input id="video-id" type="text" name="v" v-model="videoIdInput" />
				<button class="btn btn-secondary m-1">Refresh</button>
			</form>
			<div class="flex-fill"></div>
			<button class="btn btn-secondary m-1" @click="saveSubtitles">Save</button>
			<button class="btn btn-secondary m-1" @click="exportSRT">Export SRT</button>
			<button class="btn btn-secondary m-1" @click="importSRT">Import SRT</button>
			<button class="btn btn-secondary m-1" @click="triggerHelp">Help</button>
			<a id="export" class="d-none"></a>
			<input id="import" class="d-none" type="file" @change="getSRT">
		</div>
		<div id="mid" class="flex-fill d-flex flex-row position-relative align-items-stretch">
			<div id="video" class="d-flex flex-column">
				<div id="iframe" class="position-relative flex-fill">
					<iframe
						v-if="videoId && videoId.length"
						width="100%"
						height="100%"
						:src="`https://www.youtube.com/embed/${videoId}?enablejsapi=1&disablekb=1&fs=0&modestbranding=1&mute=1`"
						frameborder="0"
					></iframe>
					<!-- <div id="iframe-cover" class="position-absolute"></div> -->
					<div id="subs" class="w-100 position-absolute text-center h3">
						<div
							v-for="sub in subtitles.data.filter(x=>x.active).reverse()"
						>
							{{ sub.text }}
						</div>
					</div>
				</div>
				<div
					id="timeline-map"
					class="position-relative"
				>
					<div
						id="timeline-map-scroll"
						class="position-absolute rounded"
						:style="{
							left: timelineStart / getTimelineLength() / timelineScale * 100 + '%',
							width: (1 / timelineScale) * 100 + '%',
							transition: isTimelineDragging ? 'none' : 'all 150ms'
						}"
					>
						<div
							id="timeline-map-scroll-target"
							draggable="true"
							class="position-absolute move-target"
							@drag="timelineMapDrag"
							@dragstart="timelineMapDragPoint"
							@dragend="timelineMapDragEnd"
						></div>
					</div>
				</div>
				<div
					id="timeline"
					class="position-relative"
					@click="timelineClick"
					@wheel="timelineWheel"
				>
					<div
						id="timeline-box"
						class="position-absolute"
						:style="{
							left: getTimelineLeft() * 100 + '%',
							width: timelineScale * 100 + '%',
							transition: isTimelineDragging ? 'none' : 'all 150ms'
						}"
					>
						<div id="ruler" class="font-monospace">
							<div
								v-for="x in getRulerNum('main')"
								class="main-ruler position-absolute bg-info"
								:style="{ left: getRulerTime('main', x) * 100 / videoLength + '%' }"
							>
								<span class="position-absolute">
									<span v-if="videoLength > 3600">{{ getHour(getRulerTime('main', x)) }}:</span
									><span>{{ getMin(getRulerTime('main', x)) }}:</span
									><br><span>{{ getSec(getRulerTime('main', x)) }}</span>
								</span>
							</div>
							<div
								v-for="x in getRulerNum('sub')"
								class="sub-ruler position-absolute bg-info"
								:style="{ left: getRulerTime('sub', x) * 100 / videoLength + '%' }"
							></div>
							<div
								v-for="x in getRulerNum('sub2')"
								class="sub2-ruler position-absolute bg-info"
								:style="{ left: getRulerTime('sub2', x) * 100 / videoLength + '%' }"
							></div>
						</div>
						<div id="timeline-subs">
							<div
								v-for="sub in subtitles.data"
								class="position-absolute timeline-sub rounded"
								:style="{
									left: sub.start * 100 / videoLength + '%',
									right: 100 - sub.end * 100 / videoLength + '%'
								}"
							>
								<div
									draggable="true"
									class="position-absolute move-target"
									@drag="moveSubtitle($event, sub)"
									@dragstart="setDragPoint(sub)"
									@dragend="saveSubtitles"
								></div>
								<div
									draggable="true"
									class="drag drag-start position-absolute"
									:class="{ 'd-none': !isDragEnabled(sub) }"
									@drag="dragSubtitle(sub, 'start')"
									@dragend="saveSubtitles"
								></div>
								<div
									draggable="true"
									class="drag drag-end position-absolute"
									:class="{ 'd-none': !isDragEnabled(sub) }"
									@drag="dragSubtitle(sub, 'end')"
									@dragend="saveSubtitles"
								></div>
							</div>
						</div>
						<div
							id="cursor"
							class="position-absolute bg-danger"
							:style="{ left: cursor * 100 / videoLength + '%' }"
						>
						</div>
					</div>
				</div>
			</div>
			<div id="cc" class="position-relative d-flex flex-column">
				<div class="flex-fill">
					<div class="px-2 wrap position-absolute">
						<div
							v-for="sub in subtitles.data"
							class="p-2 d-flex flex-row align-items-center rounded"
							:class="{'bg-secondary': sub.active}"
						>
							<div class="time me-3 font-monospace" @click="seek(sub.start)">
								<div class="start-time">
									<span v-if="videoLength > 3600">{{ getHour(sub.start) }}:</span
									><span>{{ getMin(sub.start) }}:</span
									><span>{{ getSec(sub.start) }}</span>
								</div>
								<div class="end-time">
									<span v-if="videoLength > 3600">{{ getHour(sub.end) }}:</span
									><span>{{ getMin(sub.end) }}:</span
									><span>{{ getSec(sub.end) }}</span>
								</div>
							</div>
							<textarea
								class="text p-0 bg-dark text-white flex-fill me-3"
								placeholder="Enter Subtitles Here"
								v-model="sub.text"
								@blur="saveSubtitles"
							></textarea>
							<button
								type="button"
								class="btn-close close btn-close-white"
								aria-label="Close"
								@click="deleteSubtitle(sub)"
							></button>
						</div>
						<button
							type="button"
							class="btn btn-dark w-100 text-center p-3"
							@click="addSubtitle()"
						>
							+
						</button>
					</div>
					<div id="toolbar" class="position-absolute d-flex flex-row align-items-center justify-content-center">
						<div id="timecode" class="font-monospace h2 m-0">
							<span v-if="videoLength > 3600">{{ getHour(cursor) }}:</span
							><span>{{ getMin(cursor) }}:</span
							><span>{{ getSec(cursor) }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="bot" class="d-flex flex-row align-items-center">
			<div id="info-text" class="px-2"><span>{{ infoText }}</span></div>
		</div>
		<div v-if="showHelp" id="help" class="position-absolute rounded">
			<div class="wrap p-5">
				<h3><b>Y</b>ou<b>T</b>ube Video <b>C</b>losed <b>C</b>aption Tool</h3>
				<p>
					YTCC allows users to create subtitles for any video on YouTube.
					This project ultimately aims for letting audience from all over the world understand streams from vTubers,
					and allows clippers to make clips easier and faster.
				</p>
				<h4>[ WARNING ]</h4>
				<p>
					This webpage is still in testing state and may be unstable.
					The subtitles you created are not guaranteed to be well preserved.
					Currently, YTCC uses cookie to auto save.
					Remember to Export SRT once in a while to ensure you don't lose your subtitles.
				</p>
				<h4>[ Keyboard Shortcuts ]</h4>
				<span>These only work when focus is outside the video player.</span>
				<ul>
					<li>Ctrl + Space : Play / Pause</li>
					<li>Ctrl + Enter : Add subtitles</li>
					<li>Ctrl + S : Save (to Cookie)</li>
					<li>Ctrl + E : Export SRT</li>
					<li>Ctrl + I : Import SRT</li>
					<li>Ctrl + H : Help</li>
					<li>(Timeline) mousewheel : Scroll</li>
					<li>(Timeline) Ctrl + mousewheel : Zoom</li>
					<li>(Timeline) drag : Move Subtitle</li>
				</ul>
				<h4>[ Planning Features ]</h4>
				<ul>
					<li>Multi track subtitles</li>
					<li>Audio Render from backend & auto CC time generate</li>
					<li>CC font color, style, position</li>
					<li>save CC to backend, used for collab/translation (which should come with a user system)</li>
				</ul>
				<h4>[ About ]</h4>
				<p>
					This webpage is created and designed by <a href="https://hackmd.io/@DeemoHarlos/share">Deemo Harlos</a>.<br>
					This is an open-source project. This means ANYONE can contribute to this project,
					either by testing, discussing, reporting issues, giving advices or create pull requests.<br>
					Github Repo: <a href="https://github.io/DeemoHarlos/ytcc">https://github.io/DeemoHarlos/ytcc</a> |
					<a href="https://github.com/DeemoHarlos/ytcc/issues/new">Report Bugs or Issues</a><br>
					Buy me a coffee! Thanks for your support! <a href="https://ko-fi.com/harlosmusic">Ko-fi</a> |
					<a href="https://www.patreon.com/HarlosMusic">Patreon</a><br>
					Contact me:
					<a href="https://twitter.com/HarlosMusic">Twitter</a> |
					<a href="https://discord.gg/6r4bvhr">Discord</a> |
					<a href="https://www.facebook.com/HarlosMusic">Facebook</a> |
					<a href="https://www.instagram.com/harlosmusic">Instagram</a>
				</p>
			</div>
			<button
				type="button"
				id="help-close"
				class="btn-close close btn-close-white position-absolute"
				aria-label="Close"
				@click="triggerHelp"
			></button>
		</div>
	</div>
	<script src="parse-srt.js" type="text/javascript"></script>
	<script src="subtitles.js" type="text/javascript"></script>
	<script src="index.js" type="text/javascript"></script>
</body>
</html>
