/* General */
a {
	color: #88DDFF!important;
}

/* main */
#bot {
	min-height: 2rem;
}

#video {
	flex: 7 0 0;
}

#video-subs {
	bottom: 0;
}

#cc {
	flex: 3 0 0;
}

/* timeline */
#timeline-map {
	height: .5rem;
}

#timeline-map-scroll {
	background-color: #FFFFFF88;
}

#timeline {
	overflow: hidden;
	background-color: #333333;
}

.timeline-track {
	height: 2.5rem;
}

#cursor {
	width: .5px;
	top: 0;
}

/* timeline ruler */
#ruler {
	font-size: 9px;
}

.main-ruler>span {
	top: .75rem;
	left: .3rem;
	line-height: 1em;
}

.main-ruler {
	top: 0;
	height: 2.25rem;
	width: .5px;
}

.sub-ruler {
	top: 0;
	height: .5rem;
	width: .5px;
}

.sub2-ruler {
	top: 0;
	height: 1rem;
	width: .5px;
}

/* timeline subs */
.timeline-sub {
	border: white solid .5px;
	background-color: #FFFFFF88;
}

.move-target {
	z-index: 9;
}

.drag {
	cursor: ew-resize;
	z-index: 10;
}

.drag-start {
	width: 3px;
	left: 0;
}

.drag-end {
	width: 3px;
	right: 0;
}

/* cc */
#subs{
	overflow-y: auto;
}

#subs>.wrap {
  top: 0;
}

#toolbar {
	height: 3rem;
}

.text {
	height: calc(100% - 1rem);
	border: none;
	resize: none;
}

/* help */
#help {
	left: 20%;
	right: 20%;
	top: 10%;
	bottom: 10%;
	background-color: #000000DD;
	z-index: 20;
}

#help>.wrap {
	max-height: 100%;
	overflow: auto;
}

#help-close {
	right: 1.5rem;
	top: 1rem;
}