a
  text-decoration: none
  color: inherit

.flex-row, .flex-column
  display: flex

.middle-center
  justify-content: center
  align-items: center

.stretch-center
  justify-content: center
  align-items: stretch

.fill-screen
  width: 100%
  height: 100vh
